@import "tailwindcss";

/* Prevent horizontal scroll globally */
html, body {
  overflow-x: hidden;
}

.marquee {
  display: flex;
  flex-wrap: nowrap;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* scroll one full set of images */
}

